<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">Select Store</div>
        <div class="card-footer">
          <select name="store" id="store" class="form-control">
            <option value="U84" selected>U84</option>
            <option value="All Needs">All Needs</option>
            <option value="Takoradi Mall">Takoradi Mall</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
